<div id="fb-root"></div>
<script>
window.fbAsyncInit = function() {
  FB.init({ appId: '151745734845074', 
	    status: true, 
	    cookie: true,
	    xfbml: true,
	    oauth: true});


  function manageStatus(response) {
		
    if (response.authResponse) {
		//The user is logged in
		alert("YOU'r Inside");
	}else{
		//The user is either not logged in or hasn't authorized the app
		alert("You'r session's no longer valid");
	}
  };

  // run once with current status and whenever the status changes
  FB.getLoginStatus(updateButton);
  FB.Event.subscribe('auth.statusChange', updateButton);	
};

//Load the FB JS SDK	
(function() {
  var e = document.createElement('script'); e.async = true;
  e.src = document.location.protocol 
    + '//connect.facebook.net/en_US/all.js';
  document.getElementById('fb-root').appendChild(e);
}());

</script>