<h2>You don't have a password!</h2>

<p>
  Hmmm...This email is associated to a Facebok account, so you don't have a password to forget! Use the blue Facebook Login button to enter your account!
</p>
